.navbar {
    position: absolute;
    top: 90%;
    width: 99%;
    list-style:none;
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    z-index: 1;
}
.Skills{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0 auto;
  }
  
  .Skills .fas {
    color:white;
    font-size:4em;
    padding: 0;
    margin: 0;
    margin-top: .5em;
}

.Skills ul p {
    color:white;
    text-decoration: underline;
    font-weight: 600; 
    font-size: 1.7em;
    text-align: center;
    margin-top: 0;
    margin-right: 40px ;
    margin-bottom: 15px;
  }

  .Skills ul {
      margin-top: 0 !important;
  }

.Skills ul li {
    color:white;
    font-size:3vw;
    font-weight: 500; 
    list-style: none;
    text-align: center;
    margin-left: -25px;
    margin-bottom: 15px;
    margin-top: 0;
  }

.border{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(14,28,65);
    border-radius: 20px;
    width:90%;
    margin:1em;
  }
  
body {
    overflow-x: hidden;
    margin:0;
    padding:0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

}
* {
    scroll-behavior: smooth;
    max-width: 100%;
}
.Menu {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 2vw;
    color: white;
}

.particles {
    width: 99vw;
    margin: 0;
    padding: 0;
    height: 60vh;
    backface-visibility: hidden;
}
.title {
    opacity: 0;
    font-size: 4vw;
    position: absolute;
    top: 60vh;
    width:99vw;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2EM;
    margin: 0;
    padding: 0;
    -webkit-animation:fadein 3s forwards;

}
.titlesecondline {
    font-size: 2.75vw;
}
.active {
    font-size: 2.5vw;
    text-decoration: underline;
}
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    25%,75% { opacity: 1; }
  }
  
  @keyframes fadein {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
    }
.title2 {

    font-size: 2vw;
    position: absolute;
    top: 65vh;
    width:99vw;
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5EM;
    margin: 0;
    padding: 0;
    z-index: -1;
    -webkit-animation:fadeinout 8s linear forwards;
}
#Home {
    width: 100%;
    height: 100%;
    background-image: url("night.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

}

#About{
    margin-top:50px;
}



#Experience .boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:auto;
    margin-top:90px;
  }
  
#Experience .box {
    width:250px;
    height:250px;
    background-color: white;
    color:white;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    margin:.5em auto;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}



#Experience .box img {
    width: 260px;
    height: 260px;

}


.spacer{
    width: 100%;
    height: 150px;
}

#Experience .spacer{
    height: 150px;

}

#Contact .spacer{
    height: 150px;

}

 img {
    margin: 20px;
    margin-top: 80px;
    border-radius: 10%;
    width: auto;
    height: 80%;
}

.FlexRow{
    display:flex;
    font-size: 1.2vw;
}

.FlexColumn{
    display:flex;
    flex-direction: column;
}

.FlexRow p {
    line-height: 2em;
    margin: 20px;
}

.FlexRow ul li {
    margin: 20px;
    font-size: 2vw;
    list-style:none;
    font-weight: bold;

}

.gradient {
    background-image: linear-gradient(black, black, white);
    position: absolute;
    top: 89vh;
    width: 100%;
    height: 20%;
    z-index: 0;
}


.sticky {
    position: fixed;
    top: 20;
    width: 99%;
  }


  .box:hover {
    transform: rotateY(180deg);
  }
  .box .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
  
  .box .side img {
    margin:auto;
    width:100%;
  }
  .box .back {
    background: #ffffff;
    color: #404242;
    font-size: .9em;
    text-align: center;
    transform: rotateY(180deg);
    margin: auto;
  }

  #verb1 {
    margin-left: 25vw;    
    }
    #verb2 {
    margin-left: 40vw;
    }


    #Contact {
        margin-bottom: 100px;
    }

    .pdfcontainer{
        margin: auto;
        margin-top:2em;
        width:85%;
        background-color:white;
      }

      footer{
        background-color: rgb(14,28,65);
    }

      footer article {
        display:flex;
        flex-direction: column;
        text-align:center;
        color: white;
    }

    footer article span{
        margin: 10px;

    }


    #contact1 {
        font-size: 1.7em;
    }
    #contact2 {
        font-size: 1.3em;
    }

        
@media screen and (max-width: 991px) {
    .navbar{
        display:none;
    }
    .title{
        font-size:7vw;
    }
    .flexcolumn{
        flex-direction:column;
    }
    .flexrow{
        flex-direction:column;
    }
    img{
        width:60%;
        height:auto;
        margin: 0 auto;
    }
    #about ul {
        margin: 0 auto;
        margin-top: 70px;
    }
    #about p{
        margin: 2em;
        margin-top: 3em;
        font-size:3vw;
    }
    #verb1 {
        margin-left: 32vw;    
    }
    #verb2 {
        margin-left: 56vw;
    }
    .Skills{
        display:flex;
        flex-direction: column;
    }
    #Experience .boxes{
        
        flex-direction: column;
    }
    .border{
        margin:auto;
    margin-top: 1em;
    }

    .languages{
        order: 1;
    }
    .other{
        order: 3;
    }
    .devtools{
        order: 2;
    }
    
    #about p {
        font-size: 90%;
        text-align: center;
        
    }


}
    

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }